input {
    keyboard {
        xkb {
        }

        numlock
    }

    touchpad {
        tap
        dwt
        natural-scroll
    }

    mouse {
    }

    // focus-follows-mouse
    workspace-auto-back-and-forth
}

gestures {
    hot-corners {
        off
    }
}
