spawn-at-startup "noctalia"

// Keep the Noctalia settings window at a practical fixed size.
window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
}

// Allows notification actions and window activation from Noctalia.
debug {
    honor-xdg-activation-with-invalid-serial
}

switch-events {
    lid-close {
        spawn "noctalia" "msg" "session" "lock-and-suspend"
    }
}

binds {
    Alt+Space hotkey-overlay-title="Open Noctalia Launcher" { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Mod+Period hotkey-overlay-title="Open Emoji Picker" { spawn "noctalia" "msg" "panel-toggle" "launcher" "/emo "; }
    Mod+S { spawn "noctalia" "msg" "panel-toggle" "control-center"; }
    Mod+Comma { spawn "noctalia" "msg" "settings-toggle"; }
    Alt+Tab { spawn "noctalia" "msg" "window-switcher"; }
    Super+Alt+L { spawn "noctalia" "msg" "session" "lock"; }

    XF86AudioRaiseVolume { spawn "noctalia" "msg" "volume-up"; }
    XF86AudioLowerVolume { spawn "noctalia" "msg" "volume-down"; }
    XF86AudioMute { spawn "noctalia" "msg" "volume-mute"; }
    XF86MonBrightnessUp { spawn "noctalia" "msg" "brightness-up"; }
    XF86MonBrightnessDown { spawn "noctalia" "msg" "brightness-down"; }
}
