// Work around WezTerm's initial configure bug.
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {
    }
}

window-rule {
    match app-id=r#"^kitty$"#

    open-maximized true
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#e01b24"
        inactive-color "#7d0d2d"
    }
}

window-rule {
    match app-id=r#"^firefox$"#
    exclude title="^Picture-in-Picture$"

    open-on-workspace "browser"
    open-focused true
    open-maximized true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// WPS exposes font selectors as XWayland toplevels instead of popups.
window-rule {
    match app-id=r#"^(wps|et|wpp)$"# title=r#"^(wps|et|wpp)$"#

    open-floating true
}

window-rule {
    match app-id=r#"^steam$"#
    exclude app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#

    // STS2
    match app-id=r#"(?i)^slay(?:[\s_-]*the)?[\s_-]*spire[\s_-]*2$"#
    match title=r#"(?i)^slay the spire 2(?:\s|$)"#

    // HMCL
    match app-id=r#"(?i)^(hmcl|org\.jackhuang\.hmcl(?:\..*)?)$"#
    match app-id=r#"^java$"# title=r#"^HMCL(?:\s|$)"#

    // Endfield cloud game
    match app-id=r#"^waydroid\.com\.hypergryph\.cloud\.endfield$"#

    open-on-workspace "game"
    open-focused true
}

// Steam renders friend and game activity notifications as separate toplevels.
window-rule {
    match app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#

    open-floating true
    open-focused false
    default-floating-position x=16 y=16 relative-to="bottom-right"
}

window-rule {
    match app-id=r#"^FFPWA-01KYBT8MTCMC3ZTDGCNGD80FVB$"#
    match app-id=r#"^FFPWA-.*$"# title=r#"^网易云游戏(?:\s|$)"#

    open-on-workspace "game"
    open-focused true
    open-maximized true
}
