// copy to the clipboard without saving
screenshot-path null

binds {
    Print {
        screenshot
    }

    Ctrl+Print {
        screenshot-screen
    }

    Alt+Print {
        screenshot-window
    }
}
